{% extends "blog/base.html" %}

{% block content %}
    <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }}) </h1>
    {% for post in posts %}
        <article class="media content-section">
            <Image src="{{ post.author.profile.image.url }}" class="rounded-circle article-image mr-3" alt="Post Image" style="width: 50px; height: 50px;">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted | date:"d F, Y" }}</small>
            </div>
            <h2><a class="article-title" href={% url 'post-detail' post.id %}>{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-primary">First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">Previous</a>
        {% endif %}

        <span class="btn btn-primary disabled">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary">Last</a>
        {% endif %}

    {% endif %}

{% endblock content %}